<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /keto/sami/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /keto/sami/index.html [L]
</IfModule>
